[Unit]
Description=Hello World Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/glolabs/python-service/app/hello_world.py

[Install]
WantedBy=multi-user.target
